*{
    box-sizing: border-box;
}

body{
    background-color: rgba(246,248,249,255);
}

.title{
    display: inline;
    font-size: 38px;
    vertical-align:top;
    font-family:Arial, Helvetica, sans-serif;
}